<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492518670441-ngstl1615q3p61get6hr0bu0jrv46a3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492518670441-ngstl1615q3p61get6hr0bu0jrv46a3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCn8iV1zVQPboW0huZlnKw5KKG5QPrDZkA</string>
	<key>GCM_SENDER_ID</key>
	<string>492518670441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deyan.Cherry</string>
	<key>PROJECT_ID</key>
	<string>cherryapp-793a8</string>
	<key>STORAGE_BUCKET</key>
	<string>cherryapp-793a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492518670441:ios:c0fc3e82b659ff3df362f8</string>
</dict>
</plist>